
.title {
    word-wrap: break-word;
    width: 200px;
    margin: 10px;
}

.imgWrapper {
    height: 380px;
    width: 280px;
    display: flex;
    con
    justify-content: center;
}

.imgWrapper>img {
    width: 100%;
    height: 100%;
}